.grid {

    border: 10px double black;
    border-radius:50px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    background-color:aquamarine;
    

}
.Origami {

    border: 5px solid black;
    border-top: 50px;
    border-bottom: 50px;
    border-radius:10 px;
    background-color:aqua;
   

    width:310px;
    font-family: fantasy;
    
    

}

.menu {
    
    display:flex;
    justify-content: space-evenly;
    background-image: url("main2.png");
    background-position: center;
    background-size: 2000px 800px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
    
}
